<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cubski.Data.Infrastructure" version="1.0.0.3" targetFramework="net451" />
  <package id="Cubski.Data.Infrastructure.OpenAccess" version="1.0.0.4" targetFramework="net451" />
  <package id="OpenAccess.CodeFirst" version="2013.1.219.3" targetFramework="net451" />
</packages>